* {
    margin: 0;
    padding: 0;
}
*::-webkit-scrollbar {
    display: none;
}

#nav {
    position: fixed;
    
}
header ul {
    display: flex;
    flex-direction: column;
}
header ul li {
    width: 100px;
    height: 24px;
    background-color: blueviolet;
    list-style: none;
}
header ul li a {
    text-decoration: none;
    color: rgb(100, 255, 100);
}
#bar {
    position: absolute;
    background-color: black;
    color: white;
    width: 24px;
    height: 96px;
    left: 100px;
    
}
/*#bar::before { content: "▶︎"; }
#bar:hover:before { content: "◀︎"; }*/
h1 {
    background-color: aqua;
}

.usertable {
    margin: 10vw;
    width: 80vw;
    background: linear-gradient(navy, black );
    color: white;
    opacity: 1;
    animation: flash 20s linear infinite;
    border: solid;
    font-weight: bold;
}
.usertable tr {
    height: 2em;
}
.usertable tr td {
    border: dotted;
    width: 20vw;
    text-align: center;
    transition: .5s;
}

.center_line {
    text-align: center;
}
.hover {
    cursor: pointer;
    background-color: white;
    color: blue;
    transform: scale(1.1)
}
.set_row_color {
    background-color: rgba(255, 0, 0, .5);
    color: white;
}

@keyframes flash {
    30%,60% { opacity: .8; }
    0%,100% {
        background: linear-gradient(navy, black );
        opacity: 1;
    }
    50% {
        background: linear-gradient(black, navy);
        opacity: 1;
    }
    
}